@font-face {
    font-family: 'FontAwesome';
    src: url("../../dist/fonts/fontawesome-webfont.eot?v=4.6.3");
    src: url("../../dist/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format('embedded-opentype'), url("../../dist/fonts/fontawesome-webfont.woff2?v=4.6.3") format('woff2'), url("../../dist/fonts/fontawesome-webfont.woff?v=4.6.3") format('woff'), url("../../dist/fonts/fontawesome-webfont.ttf?v=4.6.3") format('truetype'), url("../../dist/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #fff;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInBackground {
    from {
        background-color: #fff;
    }

    to {
        background-color: rgba(197, 197, 197, 0.2);
    }
}



.form-control,
.form-group .form-control {
    background-image: linear-gradient($color-red,$color-red),linear-gradient(#D2D2D2,#D2D2D2) !important;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: $color-red;
}